body{
    background: url(../images/mars-landschaft.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#mainTitle{
    text-align: center;
    padding: 50px;
    font-size: 40px;
}
.world {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    height: 500px;
}
.controlArea {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    height: 240px;
    text-align: center;
}
table{
    border-spacing: 0px;
}
td {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0px;
}
.history{
    background-color: darkgreen;
}
.active{
    background-color: greenyellow;
}
.history2{
    background-color: darkblue;
}
.active2{
    background-color: lightblue;;
}
.history3{
    background-color: lightcoral;
}
.active3{
    background-color: coral;;
}
.obstacle{
    background-color: brown
}
form {
    background-color: white;
}
.roverArea{
    width: 33.33%;
    float: left;
}
#grTitle{
    border-top: 20px solid greenyellow;
}
#brTitle{
    border-top: 20px solid lightblue;
}
#rrTitle{
    border-top: 20px solid coral;
}
input[type=radio]{
    margin: 20px 0;
}
input#br{
    background-color: lightblue;
}
.github{
    margin: 0 auto;
    margin-top: 50px;
    width: 50px;
}